.menuOptionProfileOff{
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 0;
    animation: slideToSide .5s forwards;
}

@keyframes slideToSide {
    to{
        transform: translateX(0);
    }

    from{
        transform: translateX(100%);
    }

}

.menuOptionProfileOff div{
    display: flex;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px #838383;
    padding: 10px;
}

.menuOptionProfileOff div a{
    padding: 10px 1px;
    margin: 5px;
    text-align: left;
    text-decoration: none;
    color: #ff9000;
    font-weight: 700;
    text-transform: uppercase;
}

.menuOptionProfileOff div a:hover{
    color: #d67a00;
    transition: .2s;
}

.iconProfile{
    color: #ff9000;
    font-size: 2.5em;
    margin-right: 50px;
}

.iconProfile:hover{
    cursor: pointer;
    font-size: 2.6em;
    transition: .1s;
}

.none{
    display: none;
}