.forgotPassword{
    width: 85vw;
    height: 100vh;
    margin-left: 230px;
}

.forgotPassword img{
    width: 100%;
}

.infoForgotPassword{
    background-color: #FAFAFA;
    position: absolute;
    top: 170px;
    margin-left: 440px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px #ff910047;
}

.iconForgotPasswordTitle{
    margin-right: 15px;
}

.infoForgotPassword h1{
    color: #ff9000;
    letter-spacing: 1.5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.infoForgotPassword div{
    background-color: #fff;
    color: #838383;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: justify;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff910047;
    padding: 10px;
    margin: 20px 0px;
    width: 100%;
}

.infoForgotPassword form{
    display: flex;
    flex-direction: column;
    color: #ff9000;
    font-weight: 750;
    width: 100%;
}

.infoForgotPassword form label{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.infoForgotPassword form label input{
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 10px #ff910047;
}

.infoForgotPassword form label input:focus{
    border: solid 1px #ff9000;
}

.btnForgotPassword{
    color: #fff;
    background-color: #ff9000;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1.5px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnForgotPassword:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #ff91006a;
    transition: .2s;
}